@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.head{
    height: 20%;
    width: 100%;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(8, 248, 248);
    color: rgb(4, 246, 93);
    font-size: 40px;
}
.body-section {
    background-color: white;
    height: 220%;
    width: 85%;
    box-shadow: 0 0 32px 2px rgba(31,38,135,.37);
    margin-left: 60px;
    margin-top: 20px;
}
.first-section, .second-section, .third-section {
    display: flex;
}
.first, .second, .third, .four, .five, .six, .seven, .eight, .nine {
    position: relative;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    height: 35%;
    width: 40%;
    margin: 2% 5%;
}
video{
    align-items:center;
    margin-top: 16px;
    height: 85%;
    width: 85%;
    margin: 5% 5%;
}
#loopButton {
    margin: 10px 10px;
    cursor: pointer;
  }

@media (max-width: 768px) {
  
    .body-section {
      width: 100%;
      height: 100%;
      margin: 0;
    }
    .first-section{
        margin: 10px 10px;
    }
  
    .first,
    .second,
    .third,
    .four,
    .five,
    .six,
    .seven,
    .eight,
    .nine {
      width: 100%;
      height: 50%;
      margin: 5% 5%;
    }
    video {
        height: 50%;
        width: 90%;
    }
    i{
      font-size: 5px;
    }
  }
  
